.alertDone {
    position: fixed;
    display: block;
    min-width: 150px;
    z-index: 5;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
}

.alertD {
    display: inline-block;
    border-radius: 45%;
}